## Exercici 1
Crea una base de dades NoSQL utilitzant MongoDB. Afegeix-li algunes dades d'exemple que et permetin comprovar que ets capaç de processar-ne la informació de manera bàsica.

Esta es una captura de pantalla para mostrar los datos iniciales que he introducido a través de la GUI de MongoDB

In [20]:
from IPython.display import IFrame
IFrame("MongoDB_GUI.png", width=900, height=600)

## Exercici 2
Connecta la base de dades NoSQL a Python utilitzant per exemple pymongo.

In [1]:
import pymongo
import sys

# La información relativa al usuario y la contraseña están vacíos por razones de seguridad
client = pymongo.MongoClient(
    "mongodb+srv://<user>:<password>@cluster0.ggtgq.mongodb.net/aves?retryWrites=true&w=majority"
)
db = client['aves']
collection = db['rapaces']
cursor = collection.find()

print(cursor)

for x in cursor:
    print(x)

Por cuestiones de agilidad, he decidido introducir el resto de los datos a través de Python (una vez establecida la conexión)

In [25]:
rapaces = [
    { "name": "Merlin", "wingspan": 73, "body_mass": 210, "in_danger": False},
    { "name": "Gyrfalcon", "wingspan": 160, "body_mass": 2100 , "in_danger": False},
    { "name": "Prairie falcon", "wingspan": 1100, "body_mass": 970, "in_danger": False},
    { "name": "Osprey", "wingspan": 180.0, "body_mass": 2100.0 , "in_danger": True},
    { "name": "White tailed kite", "wingspan": 102.0 , "body_mass": 380.0 , "in_danger": False},
    { "name": "Golden eagle", "wingspan": 234.0, "body_mass": 6350.0 , "in_danger": True},
    { "name": "Bald eagle", "wingspan": 230.0, "body_mass": 6300.0, "in_danger": False}

]

x = collection.insert_many(rapaces)

print(x.inserted_ids)

[ObjectId('62559bc4be2d1e4b989bd132'), ObjectId('62559bc4be2d1e4b989bd133'), ObjectId('62559bc4be2d1e4b989bd134'), ObjectId('62559bc4be2d1e4b989bd135'), ObjectId('62559bc4be2d1e4b989bd136'), ObjectId('62559bc4be2d1e4b989bd137'), ObjectId('62559bc4be2d1e4b989bd138')]

In [27]:
collection = db['patos']

patos = [
    { "name": "Snow goose", "wingspan": 165.0, "body_mass": 4050.0, "in_danger": False},
    { "name": "Tundra swan", "wingspan": 211.0, "body_mass": 9600.0 , "in_danger": False},
    { "name": "Wood duck", "wingspan": 73.0, "body_mass": 862.0, "in_danger": False},
    { "name": "Garganey", "wingspan": 69.0, "body_mass": 400.0 , "in_danger": False},
    { "name": "Northern shoveler", "wingspan": 76.0 , "body_mass": 600.0 , "in_danger": False},
    { "name": "Gadwall", "wingspan": 90.0, "body_mass": 990.0 , "in_danger": False},
    { "name": "Eurasian wigeon", "wingspan": 230.0, "body_mass": 6300.0, "in_danger": False},
    { "name": "Common eider", "wingspan": 80.0, "body_mass": 1073.0, "in_danger": False},
    { "name": "Harlequin duck", "wingspan": 26.0, "body_mass": 600.0, "in_danger": False}

]

x = collection.insert_many(patos)

print(x.inserted_ids)

[ObjectId('62559e2cbe2d1e4b989bd139'), ObjectId('62559e2cbe2d1e4b989bd13a'), ObjectId('62559e2cbe2d1e4b989bd13b'), ObjectId('62559e2cbe2d1e4b989bd13c'), ObjectId('62559e2cbe2d1e4b989bd13d'), ObjectId('62559e2cbe2d1e4b989bd13e'), ObjectId('62559e2cbe2d1e4b989bd13f'), ObjectId('62559e2cbe2d1e4b989bd140'), ObjectId('62559e2cbe2d1e4b989bd141')]

In [28]:
collection = db['pajaros_carpinteros']

pajaros_carpinteros = [
    { "name": "Acorn woodpecker", "wingspan": 43.0, "body_mass": 90.0, "in_danger": False},
    { "name": "Red-bellied woodpecker", "wingspan": 46.0, "body_mass": 91.0 , "in_danger": False},
    { "name": "Yellow-bellied sapsucker", "wingspan": 40.0, "body_mass": 62.0, "in_danger": False},
    { "name": "Black-backed woodpecker", "wingspan": 42.0, "body_mass": 88.0 , "in_danger": False},
    { "name": "Hairy woodpecker", "wingspan": 43.0 , "body_mass": 95.0 , "in_danger": True},
    { "name": "Northern flicker", "wingspan": 54.0, "body_mass": 167.0 , "in_danger": False}

]

x = collection.insert_many(pajaros_carpinteros)

print(x.inserted_ids)

[ObjectId('62559f28be2d1e4b989bd142'), ObjectId('62559f28be2d1e4b989bd143'), ObjectId('62559f28be2d1e4b989bd144'), ObjectId('62559f28be2d1e4b989bd145'), ObjectId('62559f28be2d1e4b989bd146'), ObjectId('62559f28be2d1e4b989bd147')]

## Exercici 3
Carega algunes consultes senzilles a un Pandas Dataframe

In [5]:
import pandas as pd

**Rapaces en peligro**

In [29]:
collection = db['rapaces']
query = { "in_danger" : True }
cursor = collection.find(query)

In [30]:
df_rapaces_peligro =  pd.DataFrame(list(cursor))
display(df_rapaces_peligro)

                        _id           name  wingspan  body_mass  in_danger
0  6254654b8eae0006324eadb3  Black vulture     180.5     2100.0       True
1  62559bc4be2d1e4b989bd135         Osprey     180.0     2100.0       True
2  62559bc4be2d1e4b989bd137   Golden eagle     234.0     6350.0       True

**Aves con mayor masa corporal**

Como MongoDB no es una base de datos relacional, para poder revisar los contenidos de todas las colecciones, creo un dataframe para las aves con más masa corporal de cada colección. Después, concateno estos dataframes y vuelvo a filtrar por mayor masa corporal.

In [47]:
collection = db['patos']
cursor = collection.find().sort('body_mass',-1).limit(3)
df_patos_mayor_masa_corporal =  pd.DataFrame(list(cursor))

In [48]:
collection = db['rapaces']
cursor = collection.find().sort('body_mass',-1).limit(3)
df_rapaces_mayor_masa_corporal =  pd.DataFrame(list(cursor))

In [49]:
collection = db['pajaros_carpinteros']
cursor = collection.find().sort('body_mass',-1).limit(3)
df_carpinteros_mayor_masa_corporal =  pd.DataFrame(list(cursor))

In [51]:
frames = [df_patos_mayor_masa_corporal, df_rapaces_mayor_masa_corporal, df_carpinteros_mayor_masa_corporal]
df_aves_mayor_masa_corporal = pd.concat(frames)
df_aves_mayor_masa_corporal.sort_values(by=['body_mass'])
df_aves_mayor_masa_corporal = df_aves_mayor_masa_corporal.head(3)

display(df_aves_mayor_masa_corporal)

                        _id             name  wingspan  body_mass  in_danger
0  62559e2cbe2d1e4b989bd13a      Tundra swan     211.0     9600.0      False
1  62559e2cbe2d1e4b989bd13f  Eurasian wigeon     230.0     6300.0      False
2  62559e2cbe2d1e4b989bd139       Snow goose     165.0     4050.0      False

**Pájaros carpinteros más pequeños**

In [52]:
collection = db['pajaros_carpinteros']
cursor = collection.find().sort('wingspan').limit(3)
df_carpinteros_mas_peques =  pd.DataFrame(list(cursor))
display(df_carpinteros_mas_peques)

,_id,name,wingspan,body_mass,in_danger
0,62559f28be2d1e4b989bd144,Yellow-bellied sapsucker,40.0,62.0,False
1,62559f28be2d1e4b989bd145,Black-backed woodpecker,42.0,88.0,False
2,62559f28be2d1e4b989bd142,Acorn woodpecker,43.0,90.0,False

## Exercici 4
Genera un resum estadístic de la informació que conté la base de dades

In [75]:
db.command("dbstats")

{'db': 'aves',
 'collections': 3,
 'views': 0,
 'objects': 26,
 'avgObjSize': 94.73076923076923,
 'dataSize': 2463,
 'storageSize': 77824,
 'totalFreeStorageSize': 0,
 'numExtents': 0,
 'indexes': 3,
 'indexSize': 77824,
 'fileSize': 0,
 'nsSizeMB': 0,
 'ok': 1}